body {
  font-family: "Arial", "Meiryo", sans-serif;
  text-align: center;
}

html {
  font-size: 20px;
}

.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203) ;
}

h1 {
  font-family: 'Josefin Sans',sans-serif;
  font-size: 2rem;
  letter-spacing: 1.2em;
  border-bottom: 4px solid gray;
  padding-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

#basic p {
  font-weight: bold;
}